body{
	background-image: url('../images/defaultBackground.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	height: 100vh;
	width: 100vw;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-content: center;
	overflow: auto;
}

h5{
	margin: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

/* Title screen */
	#titleScreen{
		height: 100%;
		width: 100%;
		background-image: url('../images/defaultBackground.jpg');
		background-size: cover;
		background-position: center;
		font-family: 'Lobster', cursive;
		color: orange;
		text-align: center;
		display: block;
	}

		#titleBox{
			top: 15%;
			position: relative;
			background-color: rgba(192, 192, 192, 0.4);
			border: black 2px solid;
		}

			#titleScreen > div> h1{
				font-size: 80px;
				margin: 0;
			}

		#titleScreen > h4{
			bottom: 0;
			margin-bottom: 10vh;
			position: absolute;
			text-align: center;
			display: block;
			width: 100%;
			animation-duration: 4s;
			font-size: 60px;
		}

/* Instructions/Story Screen */
	#instructionsScreen {
		background-image: url('../images/defaultBackground.jpg');
		background-size: cover;
		background-position: center;
		height: 100%;
		width: 100%;
		display: none;
	}

		#storyBox {
			background-color: rgba(192, 192, 192, 0.8);
			border: black 2px solid;
			margin: 0 10% 0 10%;
			font-family: 'Abril Fatface', cursive;
			top: 10%;
			position: absolute;
			display: flex;
			justify-content: center;
			flex-direction: column;
			max-height: 80%;
			width: 80%;
		}

			#storyBox > h3 {
				text-align: center;
				margin: 0;
			}

			#storyBox > p {
				margin: 8px 8px 8px 8px;
				font-size: 20px;
			}

		#startGame {
			display: block;
			position: absolute;
			bottom: 5%;
			width: 40%;
			height: 10%;
			left: 30%;
			background-color: gray;
			color: black;
			animation-duration: 4s;
		}

/* Game Screen */
	#gameScreen{
		display: none;
		height: 100vh;
		width: 80vw;
		grid-template-columns: 1fr;
		grid-template-rows: 5vh 80vh 15vh;
		border: 3px solid black;
	}

		header{
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			align-content: center;
			text-align: center;
			background-color: rgba(150, 150, 150, 1);
			grid-row: 1;
		}	

			#playerLevel{
				margin: auto 0 auto 5px;
				width: 120px;
				height: 90%;
			}

			#helpButton{
				margin: auto 5px auto 0;
				width: 120px;
				height: 90%;
			}

		#main-space{
			display: grid;
			grid-template-columns: 1.5fr 3fr;
			grid-template-rows: 1fr;	
		}

			#log{
				text-align: left;
				border: 2px solid black;
				height: 100%;
				background-image: url('../images/background1.jpg');
				background-position: center;
				background-size: cover;
				display: flex;
				flex-direction: column;
				justify-content: space-between;
			}

				#logHeader{
					display: flex;
					flex-direction: row;
					justify-content: space-between;
				}

				#logHeader > h1 {
					text-align: center;
					width: 100%;
					border-bottom: 2px solid black;
					background-color: rgba(192, 192, 192, 0.7);
					margin: 0;
				}

				#logHeader > button{
					min-width: 104px;
					width: 50%;
					/* display: flex; */
					justify-self: center;
					text-align: center;
					height: 100%;
					border-bottom: 2px solid black;
				}

				#updates{
					max-height: 70vh;
					width: 100%;
					height: 100%;
					text-align: left;
					flex-direction: column-reverse;
					overflow: scroll;
					display: flex;
					position: relative;
					bottom: 0;
				}

				#updates > p {
					width: 100% - 10px;
					/* vertical-align: bottom; */
					align-self: bottom;
					margin-left: 5px;
					margin-top: 4px;
					margin-bottom: 4px;
					margin-right: 5px;
				}

			main{
				background-image: url('../images/defaultBackground.jpg');
				background-size: cover;
				background-position: center;
			}

				.zone-info{
					display: flex;
					flex-direction: row;
					justify-content: space-between;
					background-color: rgba(225, 225, 225, 0.4);
					border-bottom: 2px black solid;
					border-top: 2px black solid;
					height: 5%;
				}
			
					#zone-info{
						margin-left: 2px;
					}
				
					#battle-round{
						margin-right: 2px;
					}

				#enemy-container{
					height: 95%;
					width: 100%;
					justify-content: center;
					text-align: center;
					display: grid;
					grid-template-rows: 1fr 4fr 1fr;
					grid-template-columns: 1fr 4fr 1fr;
				}

					#enemyWeakness{
						grid-row: 2;
						grid-column: 1;
						height: 100%;
						width: 100%;
						display: flex;
						flex-direction: column;
						justify-content: space-around;
						align-content: center;
					}

					#enemyDebuffs{
						grid-row: 2;
						grid-column: 3;
						height: 100%;
						width: 100%;
						display: flex;
						flex-direction: column;
						justify-content: space-around;
						align-content: center;
					}

						#enemyDebuffs > img, #enemyWeakness > img{
							height: 33%;
							width: 100%;
						}

					#enemyHealth{
						grid-row: 3;
						grid-column: 2;
						display: none;
						flex-direction: column;
						justify-content: center;
						align-content: center;
						width: 80%;
						height: 40%;
						align-self: top;
						justify-self: center;
					}

						#enemyHpBar {
							width: 100%;
							height: 100%;
						}

							#enemyCurrentHP{
								margin: 0;
							}

					#enemy-image-zone{
						align-items: center;
						justify-items: center;
						display: flex;
						flex-direction: column;
						justify-content: center;
						align-content: center;
						height: 100%;
						width: 100%;
						grid-row: 2;
						grid-column: 2;
					}

						#enemy-image{
							position: relative;
							height: 150px;
							width: 150px;
							background-image: null;
							background-size: cover;
							margin: auto;
							display: flex;
							flex-direction: column;
							justify-content: center;
						}

							#attack-animation{
								height: 150px;
								width: 150px;
								background-size: cover;
								margin: auto auto;
							}

	#player-container{
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 1fr;
		justify-content: center;
	}

		#player-stats{
			display: grid;
			grid-template-columns: 1fr 3fr;
			grid-template-rows: 1fr 1fr;
			justify-content: center;
			align-items: center;
			text-align: center;
			place-items: center;
			background-image: url('../images/logBackground3.gif');
			background-position: center;
			background-size: cover;
		}

			#player-stats > h6{
				background-color: rgba(0,0,0, 0.7);
				color: white;
				height: 40%;
				margin: 0;
				text-align: center;
				/* margin-right: 10px; */
				align-self: center;
				justify-self: end;
				border-top-left-radius: 45%;
				border-bottom-left-radius: 45%;
				border-top-right-radius: 15%;
				border-bottom-right-radius: 15%;
				width: 80%;
				font-size: 70%;
			}

			#health, #mana{
				width: 80%;
				height: 40%;
				text-align: center;
				justify-self: start;
			}

				#currentHP, #currentMP{
					margin: 0;
				}

	#combat-block{
		margin-right: auto;
		margin-left: auto;
		place-items: center;
		vertical-align: middle;
		height: 100%;
		width: 100%;
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 1fr 1fr;
		justify-content: center;
		background-image: url(../images/statsBackground.jpg);
		background-size: cover;
		background-position: center;
		opacity: 1;
		border-left: 2px solid black;
		color: black;
		grid-gap: 2px;
		align-items: center;
	}

		#combat-block > h2{
			background-color: white;
			height: 100%;
			width: 100%;
			text-align: center;
			vertical-align: 100%;
			margin: 0;
			place-items: center;
			justify-content: center;
			font-size: 25px;
		}

		#combat-block > button{
			width: 100%;
			height: 100%;
			font-size: 100%;
		}

		#upperleft-button, #upperright-button, #lowerleft-button {
			visibility: hidden;
		}

	#displayStats{
		max-height: 80vh;
		width: 208px;
		display: none;
		position: absolute;
		margin: auto auto;
		text-align: left;
		border: 2px solid black;
		background-image: url('../images/background1.jpg');
		background-position: center;
		background-size: cover;
		overflow: auto;
		align-self: center;
		justify-self: center;
	}

		#displayStats > p {
			margin-left: 10px;
			margin-top: 5px;
			margin-bottom: 5px;
		}

	#storyPopUp{
		display: none;
		position: absolute;
		align-self: center;
		justify-self: center;
		flex-direction: column;
		justify-content: space-around;
		align-content: center;
		text-align: center;
		width: 60vw;
		height: 60vh;
		overflow: auto;
		background-color: rgb(204, 199, 199);
		border: 2px black solid;
	}

		#storyPopUp > h4, #storyPopUp > p{
			margin: 0 5px 0 5px;
		}