body{
	background-image: url('../images/backgrounds/fieldBackground.jpeg');
	background-size: cover;
	background-repeat: no-repeat;
	height: auto;
	width: auto;
}

header{
	display: grid;
	grid-template-rows: 1fr;
	grid-template-columns: 1fr 1fr 1fr;
	text-align: center;
	background-color: rgba(192, 192, 192, 0.4);
	grid-row: 1;
}

main{
	display: grid;
	grid-template-areas: 
		"enemy enemy enemy"
		"player player player"
		;
	grid-template-rows: 1fr;
	grid-template-columns: 1fr;
}

#combat-block > h2{
	background-color: white;
	height: 100%;
	width: 100%;
	text-align: center;
	vertical-align: 100%;
	margin: 0;
	place-items: center;
	justify-content: center;
	font-size: 25px;
}

#enemy-container{
	grid-area: enemy;
	height: 300px;
	width: 100%;
	justify-content: center;
	text-align: center;
}

#player-container{
	justify-content: center;
	height: 200px;
	width: 100%;
	align-items: center;
	place-items: center;
}

#combat-block{
	margin-top: 50px;
	margin-right: auto;
	margin-left: auto;
	place-items: center;
	vertical-align: middle;
	height: 50%;
	width: 60%;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: .75fr 1fr 1fr;
	justify-content: center;
	background: black;
	opacity: 1;
	border: 2px solid black;
	color: black;
	grid-gap: 2px;
}

#health, #mana{
	/*display: inline-block;*/
}

.progress{
	width: 80%;
	height: 60%;
	text-align: center;
}





